<link rel="stylesheet" href="https://use.typekit.net/nho3ddg.css">

<body>
    <img src="assets/logowhiteletter.png" alt="img" style="position: absolute; top: 200px; left: 90px; width: 50%;">

    <img id="apiexploer" src="assets/apiexploer.png" alt="img" style="width: 40%;">

    <mat-card>
        <mat-card-title>Let's get started!</mat-card-title>
        <mat-card-subtitle>Hi, enter your details to access your account</mat-card-subtitle>
        <mat-card-content>

            <form>
                <input type="text" id="email" name="emailAddress" placeholder="Email" [(ngModel)]="email"><br>
            </form>

            <form>
                <input (keydown.enter)="login()" type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password"><br>
            </form>

            <h3 id="h3"> Having trobule logging in?
                <a href="http://localhost:4200" style="text-decoration: none;">
                    <span style="font-weight: bold;">
                        Forgot password
                    </span>
                </a>
            </h3>

            <button id="submit" type="submit" (click)="login()">Sign in</button>

            <h4 id="h4">Don't have an account? 
                <a href="http://localhost:4200/signup" style="text-decoration: none;">
                    <span style="font-weight: bold;">
                        Sign up
                    </span>
                </a>
            </h4> 

        </mat-card-content>
    </mat-card>
</body>
