
<link rel="stylesheet" href="https://use.typekit.net/nho3ddg.css">

<img id="scooperdevlogo" src="assets/scooperdeveloper.png" alt="img" style="width: 20%;">

<img id="apiexploer" src="assets/apiexploer.png" alt="img" style="width: 20%;">

<!------------------------------------------------------ Nav ------------------------------------------------------->

<button id="nav" mat-button [matMenuTriggerFor]="menu">Documentation</button>
<mat-menu #menu="matMenu">
  <button id="nav2" mat-menu-item>API documentation</button>
  <button id="nav2" mat-menu-item>GitHub</button>
</mat-menu>

<button id="nav3" mat-button [matMenuTriggerFor]="menu2">Support</button>
<mat-menu #menu2="matMenu">
  <button id="nav2" mat-menu-item>Contact Us</button>
</mat-menu>

<button id="nav4" [matMenuTriggerFor]="menu3">Account</button>
<mat-menu #menu3="matMenu">
  <button id="nav2" mat-menu-item (click)="logout()">Sign out</button>
</mat-menu>

<!------------------------------------------------------ Nav end --------------------------------------------------->

<!-------------------------------------------------- Selection feilds ---------------------------------------------->

<mat-form-field appearance="outline" color="primary">
    <mat-label>{{value}}</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="onSelected(selected)">
      <mat-option value="pickup">Pickup</mat-option>
      <mat-option value="security">Security</mat-option>
      <mat-option value="location">Location</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" color="primary" style="position: absolute; left: 600px; top: 120px;">
    <mat-label>{{endpointValue}}</mat-label>
    <mat-select [(value)]="selected2" (selectionChange)="onSelectedEndpoint(selected2)">
      <mat-option *ngIf="selected == 'pickup'" value="status">Retrieve status</mat-option>
      <mat-option *ngIf="selected == 'security'" value="key">Retrieve key</mat-option>
      <mat-option *ngIf="selected == 'location'" value="location">Retrieve location</mat-option>
    </mat-select>
</mat-form-field>

<!-------------------------------------------------- Selection feilds end ---------------------------------------------->

<label *ngIf="selected2 == 'key'">{{retrieveKey}}</label>
<h1 *ngIf="selected2 == 'key'">{{get}}</h1>
<h2 *ngIf="selected2 == 'key'">/key</h2>

<mat-card id="request">
    <mat-card-header id="header">Request</mat-card-header>
    <br>
    <mat-divider></mat-divider>
    <mat-card-content>curl {{apiEndpoint}} </mat-card-content>
    <button id="run" mat-flat-button type="button" (click)="showResponse(selected2)">Run</button>
</mat-card>

<mat-card id="response">
    <mat-card-header id="header2">Response</mat-card-header>
    <br>
    <mat-divider id="resDiv"></mat-divider>
    <mat-card-content id="rescontent">{{displayKey}}</mat-card-content>
    <mat-card-content *ngIf="displayErr == 'Error: Something bad happened; please try again later.'" id="rescontenterr">{{displayErr}}</mat-card-content>
</mat-card>
